section.bio#about
    .flex.flex--space-around
        .col-1.intro
            h2 About Me
            p I am a junior studying computer science and cognitive science at UCBerkely. I'm a passionate full-stack developer, a designer and a fast-learner.  I'm particularly interested in product design, development and management, entrepreneurship and problem solving. At leisure, I enjoy learning new things, exploring the world, researching about culture and architecture design, playing music and sports.

        .col-1.order-first
            .captionphoto
