section.articles#project
  .flex.flex--center

    .col-50.flex.flex--center <!--.order-first-->
      .col-1
        .desc-wrap
          p.home-lead.outdented ...Projects and Articles... 
          a(href="https://github.com/JulieDeng").home-cta See More Projects on Github


    .col-50
      .article-wrap
        {% for post in site.posts %}
        a(href="{{post.url}}" style="background-image: url({{post.cover}})").article-thumb
          .article-meta
            .name {{post.title}}
            .date {{post.date | date: "%b %d, %Y"}}
        {% endfor %}
        
