@font-face {
  font-family: 'MT92';
  src: url(fonts/metropolis_1920.otf);
}

@font-face {
  font-family: 'AL';
  src: url(fonts/AbrahamLincoln.ttf);
}

@font-face {
  font-family: 'Snail';
  src: url(fonts/Snail.ttf);
}

@font-face {
  font-family: 'SullivanF';
  src: url(fonts/Sullivan-Fill.otf);
}

@font-face {
  font-family: 'SullivanR';
  src: url(fonts/Sullivan-Regular.otf);
}


@font-face {
  font-family: 'Angel';
  src: url(fonts/ANGEL___.otf);
}


@font-face {
  font-family: 'SullivanR';
  src: url(fonts/Sullivan-Regular.otf);
}


@font-face {
  font-family: 'Underwood';
  src: url(fonts/MyUnderwood.ttf);
}

@font-face {
  font-family: 'Pixel3D';
  src: url(fonts/Pixelogist_3D.ttf);
}


@font-face {
  font-family: 'Pixel';
  src: url(fonts/Pixelogist.ttf);
}

@font-face {
  font-family: 'VAL';
  src: url(fonts/VAL.otf);
}

@font-face {
  font-family: 'Track';
  src: url(fonts/Track.otf);
}

@font-face {
  font-family: 'TrackItalic';
  src: url(fonts/Track Italic.otf);
}

@font-face {
  font-family: 'Goral';
  src: url(fonts/FF4AGORAL-800.otf);
}

@font-face {
  font-family: 'TrackItalic';
  src: url(fonts/Track Italic.otf);
}


@font-face {
  font-family: 'Tesla';
  src: url(fonts/TESLA.ttf);
}

@font-face {
  font-family: 'Porto';
  src: url(fonts/Porto.ttf);
}

@font-face {
  font-family: 'Feral';
  src: url(fonts/Feral-Regular.ttf);
}

@font-face {
  font-family: 'HighTide';
  src: url(fonts/HighTide.otf);
}

@font-face {
  font-family: 'Haymaker';
  src: url(fonts/Haymaker.ttf);
}



@font-face {
  font-family: 'Blanch';
  src: url(fonts/BLANCH_CAPS_INLINE.otf);
}

@font-face {
  font-family: 'CodeB';
  src: url(fonts/CODEBold.otf);
}

@font-face {
  font-family: 'CodeL';
  src: url(fonts/CODELight.ttf);
}

@font-face {
  font-family: 'Nougatine';
  src: url(fonts/nougatine.ttf);
}

@font-face {
  font-family: 'NomedFont';
  src: url(fonts/NomedFont.otf);
}

@font-face {
  font-family: 'Lingui';
  src: url(fonts/Linguina_Bold.otf);
}

@font-face {
  font-family: 'Homestead';
  src: url(fonts/Homestead/Homestead-Display.ttf);
}


@font-face {
  font-family: 'Muzarela';
  src: url(fonts/250_750_Muzarela_Std.ttf);
}

@font-face {
  font-family: 'Facet';
  src: url(fonts/Facet.ttf);
}
